$borderColor: #EBEEF5; // 边框颜色
$iconActiveColor: #0eb78a; // 侧边栏icon图标激活颜色
$iconNormalColor: #396f8b; // 侧边栏icon图标正常颜色
$asideBackgroundColor: #163447; // 侧边栏背景颜色
$successTextColor: #008000; // 成功文案颜色
$failTextColor: #e92322; // 失败文案颜色