$borderColor: #EBEEF5; // 边框颜色
$iconActiveColor: #0eb78a; // 侧边栏icon图标激活颜色
$iconNormalColor: #396f8b; // 侧边栏icon图标正常颜色
$asideBackgroundColor: #163447; // 侧边栏背景颜色
$successTextColor: #008000; // 成功文案颜色
$failTextColor: #e92322; // 失败文案颜色
// 主题颜色
$primary: #3cb1ff;
$primaryHover: #63c1ff;
$warning: #ffc367;
$warningHover: #ffcf85;
$danger: #ff7477;
$dangerHover: #ff9092;
$success: #27da99;
$successHover: #52e1ad;
$editor: #3ecec9;
$editorHover: #3ed5c9;
$purple: #9a83da;
$purpleHover: #9a8dda;