<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yunovo.iov.fc.dao.ICcCurrencyMapper">

	<select id="getItemsPage" resultType="cn.yunovo.iov.fc.model.entity.CcCurrency">
		SELECT * FROM cc_currency 
	</select>

	<update id="updateInfo" parameterType="cn.yunovo.iov.fc.model.entity.CcCurrency">
	
		UPDATE cc_currency 
		SET title = #{info.title}, code = #{info.code}, symbol_left = #{info.symbol_left}, symbol_right = #{info.symbol_right}, decimal_place = #{info.decimal_place}, value = #{info.value}, status = #{info.status}, date_modified = NOW() 
		WHERE currency_id = #{info.currency_id}
	</update>

</mapper>
