<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yunovo.iov.fc.dao.ICcGprsPackMapper">

	<select id="getPack" resultType="cn.yunovo.iov.fc.model.entity.CcGprsPack">
	
		SELECT pack_id,gprs_amount FROM cc_gprs_pack
		
		<choose>
			<when test='orgpos == "*"'>

			</when>
			<otherwise>
				AND org_id IN
				<foreach collection="orgs" item="id" index="index"
					open="(" close=")" separator=",">
					#{id}
				</foreach>
			</otherwise>
		</choose>
		
	 	GROUP BY gprs_amount
	</select>
	
	<select id="getItemsPage" resultType="cn.yunovo.iov.fc.model.entity.CcGprsPack">
	
		SELECT pack_id,org_id,user_id,alter_id,pack_name,pack_memo,pack_mode,
			pack_recom,pack_rebate,pack_status,gprs_amount,gprs_price,gprs_discount,
			allot_month,allot_value,allot_reset,live_month,sell_amount,sort_order,
			time_added,time_modify,create_by,update_by
		FROM
			cc_gprs_pack
		WHERE 
			1 = 1
		<choose>

			<when test="org_id != null">
				AND org_id = #{org_id}
			</when>
			<otherwise>
				<choose>
					<when test='orgpos == "*"'>

					</when>
					<otherwise>
						AND org_id IN
						<foreach collection="orgs" item="id" index="index"
							open="(" close=")" separator=",">
							#{id}
						</foreach>
					</otherwise>
				</choose>
			</otherwise>

		</choose>
	</select>
	
	<select id="getPackNum" resultType="Integer">
	
		SELECT COUNT(GC.pack_id) FROM cc_gprs_pack GC WHERE 1 = 1
		
		<choose>
			<when test='orgpos == "*"'>

			</when>
			<otherwise>
				AND org_id IN
				<foreach collection="orgs" item="id" index="index"
					open="(" close=")" separator=",">
					#{id}
				</foreach>
			</otherwise>
		</choose>
		
	</select>
	
	<select id="getByPackId" resultType="cn.yunovo.iov.fc.model.entity.CcGprsPack">
	
		SELECT pack_id,org_id,user_id,alter_id,pack_name,pack_memo,pack_mode,
			pack_recom,pack_rebate,pack_status,gprs_amount,gprs_price,gprs_discount,
			allot_month,allot_value,allot_reset,live_month,sell_amount,sort_order,
			time_added,time_modify
		FROM
			cc_gprs_pack
		WHERE 
			1 = 1
		
		<choose>
			<when test='orgpos == "*"'>

			</when>
			<otherwise>
				AND org_id IN
				<foreach collection="orgs" item="id" index="index"
					open="(" close=")" separator=",">
					#{id}
				</foreach>
			</otherwise>
		</choose>
		
		AND pack_id = #{pack_id}
	</select>

	<select id="getByOrgAndGprsAmountAndPrice"  resultType="cn.yunovo.iov.fc.model.entity.CcGprsPack">
	
		SELECT pack_id,org_id,user_id,alter_id,pack_name,pack_memo,pack_mode,
			pack_recom,pack_rebate,pack_status,gprs_amount,gprs_price,gprs_discount,
			allot_month,allot_value,allot_reset,live_month,sell_amount,sort_order,
			time_added,time_modify
		FROM cc_gprs_pack 
		WHERE org_id = #{org_id} AND gprs_amount = #{gprs_amount} AND gprs_price = #{gprs_price}
	</select>
	
</mapper>
