<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yunovo.iov.fc.dao.ICcGprsPackMapper">

	<select id="getPack" resultType="cn.yunovo.iov.fc.model.entity.CcGprsPack">
	
		SELECT pack_id,gprs_amount FROM cc_gprs_pack
		
		<choose>
			<when test='orgpos == "*"'>

			</when>
			<otherwise>
				AND org_id IN
				<foreach collection="orgs" item="id" index="index"
					open="(" close=")" separator=",">
					#{id}
				</foreach>
			</otherwise>
		</choose>
		
	 	GROUP BY gprs_amount
	</select>

</mapper>
