<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yunovo.iov.fc.dao.ICcGprsPayMapper">

	<select id="getPayCountPage"
		resultType="cn.yunovo.iov.fc.model.result.PayCountResultBean">
	
		<![CDATA[
		SELECT org_id, COUNT(pay_id) AS pay_count, SUM(IF(gprs_amount < 9999999, gprs_amount, 0)) AS gprs_amount,
		SUM(gprs_price) AS money_count, SUM(rebate_money) AS rebate_money FROM cc_gprs_pay WHERE is_paid = 1 AND pay_method > 0
		
		]]>

		<choose>

			<when test="org_id != null">
				AND org_id = #{org_id}
			</when>
			<otherwise>
				<choose>
					<when test='orgpos == "*"'>

					</when>
					<otherwise>
						AND org_id IN
						<foreach collection="orgs" item="id" index="index"
							open="(" close=")" separator=",">
							#{id}
						</foreach>
					</otherwise>
				</choose>
			</otherwise>

		</choose>

		<if test="date_start != null">
			<![CDATA[  AND time_paid >= #{date_start} ]]>
		</if>

		<if test="date_end != null">
			<![CDATA[ AND time_paid <= #{date_end} ]]>
		</if>

		GROUP BY org_id
	</select>

	<select id="getPayCountTotal"
		resultType="cn.yunovo.iov.fc.model.result.PayCountResultBean">
	
		<![CDATA[
		SELECT org_id, COUNT(pay_id) AS pay_count, SUM(IF(gprs_amount < 9999999, gprs_amount, 0)) AS gprs_amount,
		SUM(gprs_price) AS money_count, SUM(rebate_money) AS rebate_money FROM cc_gprs_pay WHERE is_paid = 1 AND pay_method > 0
		
		]]>

		<choose>

			<when test="org_id != null">
				AND org_id = #{org_id}
			</when>
			<otherwise>
				<choose>
					<when test='orgpos == "*"'>

					</when>
					<otherwise>
						AND org_id IN
						<foreach collection="orgs" item="id" index="index"
							open="(" close=")" separator=",">
							#{id}
						</foreach>
					</otherwise>
				</choose>
			</otherwise>

		</choose>

		<if test="date_start != null">
			<![CDATA[  AND time_paid >= #{date_start} ]]>
		</if>

		<if test="date_end != null">
			<![CDATA[ AND time_paid <= #{date_end} ]]>
		</if>

	</select>

	<select id="getOrgPayReportPage"
		resultType="cn.yunovo.iov.fc.model.result.OrgPayReportResultBean">
	
		<![CDATA[
		SELECT count(is_paid) as  paid_count,SUM(IF(is_paid = 1,1,0)) AS paid_amount,
		SUM(IF(is_paid = 0,1,0)) AS nopaid_amount, SUM(IF(is_paid = 1 AND gprs_amount < 9999999, gprs_amount, 0)) AS gprs_amount,
		SUM(IF(is_paid = 1, gprs_price, 0)) AS paid_money, SUM(IF(is_paid = 0, gprs_price, 0)) AS nopaid_money,
		SUM(rebate_money) AS rebate_money, org_id, pay_method, LEFT(time_added, 7) AS mdate FROM cc_gprs_pay WHERE  1=1
		
		]]>

		<choose>

			<when test="org_id != null">
				AND org_id = #{org_id}
			</when>
			<otherwise>
				<choose>
					<when test='orgpos == "*"'>

					</when>
					<otherwise>
						AND org_id IN
						<foreach collection="orgs" item="id" index="index"
							open="(" close=")" separator=",">
							#{id}
						</foreach>
					</otherwise>
				</choose>
			</otherwise>

		</choose>
		<choose>

			<when test="pay_method != null">
				AND pay_method = #{pay_method}
			</when>
			<otherwise>
				AND pay_method > 0
			</otherwise>

		</choose>

		<if test="date_start != null">
			<![CDATA[  AND time_added >= #{date_start} ]]>
		</if>

		<if test="date_end != null">
			<![CDATA[ AND time_added <= #{date_end} ]]>
		</if>

		<if test="mdate != null">
			<![CDATA[  AND DATE_FORMAT(time_added, '%Y-%m') = #{mdate} ]]>
		</if>

		GROUP BY org_id, pay_method
	</select>


	<select id="getOrgPayReportTotal"
		resultType="cn.yunovo.iov.fc.model.result.OrgPayReportResultBean">
	
		<![CDATA[
		SELECT count(is_paid) as paid_count,SUM(IF(is_paid = 1,1,0)) AS paid_amount,
		SUM(IF(is_paid = 0,1,0)) AS nopaid_amount, SUM(IF(is_paid = 1 AND gprs_amount < 9999999, gprs_amount, 0)) AS gprs_amount,
		SUM(IF(is_paid = 1, gprs_price, 0)) AS paid_money, SUM(IF(is_paid = 0, gprs_price, 0)) AS nopaid_money,
		SUM(rebate_money) AS rebate_money, org_id, pay_method, LEFT(time_added, 7) AS mdate FROM cc_gprs_pay WHERE  1=1
		
		]]>

		<choose>

			<when test="org_id != null">
				AND org_id = #{org_id}
			</when>
			<otherwise>
				<choose>
					<when test='orgpos == "*"'>

					</when>
					<otherwise>
						AND org_id IN
						<foreach collection="orgs" item="id" index="index"
							open="(" close=")" separator=",">
							#{id}
						</foreach>
					</otherwise>
				</choose>
			</otherwise>

		</choose>
		<choose>

			<when test="pay_method != null">
				AND pay_method = #{pay_method}
			</when>
			<otherwise>
				AND pay_method > 0
			</otherwise>

		</choose>

		<if test="date_start != null">
			<![CDATA[  AND time_added >= #{date_start} ]]>
		</if>

		<if test="date_end != null">
			<![CDATA[ AND time_added <= #{date_end} ]]>
		</if>

		<if test="mdate != null">
			<![CDATA[  AND DATE_FORMAT(time_added, '%Y-%m') = #{mdate} ]]>
		</if>

	</select>

	<select id="getPayListPage"
		resultType="cn.yunovo.iov.fc.model.entity.CcGprsPay">

		SELECT P.*,C.card_iccid, C.card_type FROM cc_gprs_pay P LEFT JOIN
		cc_gprs_card C ON P.card_id = C.card_id WHERE 1=1

		<choose>

			<when test="org_id != null">
				AND P.org_id = #{org_id}
			</when>
			<otherwise>
				<choose>
					<when test='orgpos == "*"'>

					</when>
					<otherwise>
						AND P.org_id IN
						<foreach collection="orgs" item="id" index="index"
							open="(" close=")" separator=",">
							#{id}
						</foreach>
					</otherwise>
				</choose>
			</otherwise>

		</choose>

		<if test="pay_sn != null">
			<bind name="pay_sn_bind" value="'%'+pay_sn+'%'" />
			AND P.pay_sn LIKE #{pay_sn_bind}
		</if>

		<if test="card_iccid != null">
			<bind name="card_iccid_bind" value="'%'+card_iccid+'%'" />
			AND C.card_iccid LIKE #{card_iccid_bind}
		</if>

		<if test="card_id != null">
			AND P.card_id = #{card_id}
		</if>

		<if test="card_type != null">
			AND C.card_type = #{card_type}
		</if>

		<if test="transfer_id != null">
			<bind name="transfer_id_bind" value="transfer_id+'%'" />
			AND P.transfer_id LIKE #{transfer_id_bind}
		</if>

		<if test="gprs_amount != null">
			AND P.gprs_amount = #{gprs_amount}
		</if>

		<if test="pay_from != null">
			AND P.pay_from = #{pay_from}
		</if>

		<if test="pay_method != null">
			AND P.pay_method = #{pay_method}
		</if>

		<if test="is_paid != null">
			AND P.is_paid = #{is_paid}
		</if>

		<if test="date_start != null">
			<![CDATA[  AND P.time_added >= #{date_start} ]]>
		</if>

		<if test="date_end != null">
			<![CDATA[ AND P.time_added <= #{date_end} ]]>
		</if>

		<if test="paid_start != null">
			<![CDATA[  AND P.time_paid >= #{paid_start} ]]>
		</if>

		<if test="paid_end != null">
			<![CDATA[ AND P.time_paid <= #{paid_end} ]]>
		</if>

	</select>

	<select id="getPayListTotal"
		resultType="cn.yunovo.iov.fc.model.result.PayListTotalResulBean">
	<![CDATA[ 
		SELECT  COUNT(P.pay_id) AS gprs_cards, SUM(IF(gprs_amount < 9999999, gprs_amount, 0.1)) AS gprs_amount, SUM(gprs_price) AS gprs_price, SUM(rebate_money) AS rebate_money  FROM cc_gprs_pay P LEFT JOIN cc_gprs_card C ON P.card_id = C.card_id WHERE 1=1
		]]>
		<choose>

			<when test="org_id != null">
				AND P.org_id = #{org_id}
			</when>
			<otherwise>
				<choose>
					<when test='orgpos == "*"'>

					</when>
					<otherwise>
						AND P.org_id IN
						<foreach collection="orgs" item="id" index="index"
							open="(" close=")" separator=",">
							#{id}
						</foreach>
					</otherwise>
				</choose>
			</otherwise>

		</choose>

		<if test="pay_sn != null">
			<bind name="pay_sn_bind" value="'%'+pay_sn+'%'" />
			AND P.pay_sn LIKE #{pay_sn_bind}
		</if>

		<if test="card_iccid != null">
			<bind name="card_iccid_bind" value="'%'+card_iccid+'%'" />
			AND C.card_iccid LIKE #{card_iccid_bind}
		</if>

		<if test="card_id != null">
			AND P.card_id = #{card_id}
		</if>

		<if test="card_type != null">
			AND C.card_type = #{card_type}
		</if>

		<if test="transfer_id != null">
			<bind name="transfer_id_bind" value="transfer_id+'%'" />
			AND P.transfer_id LIKE #{transfer_id_bind}
		</if>

		<if test="gprs_amount != null">
			AND P.gprs_amount = #{gprs_amount}
		</if>

		<if test="pay_from != null">
			AND P.pay_from = #{pay_from}
		</if>

		<if test="pay_method != null">
			AND P.pay_method = #{pay_method}
		</if>

		<if test="is_paid != null">
			AND P.is_paid = #{is_paid}
		</if>

		<if test="date_start != null">
			<![CDATA[  AND P.time_added >= #{date_start} ]]>
		</if>

		<if test="date_end != null">
			<![CDATA[ AND P.time_added <= #{date_end} ]]>
		</if>

		<if test="paid_start != null">
			<![CDATA[  AND P.time_paid >= #{paid_start} ]]>
		</if>

		<if test="paid_end != null">
			<![CDATA[ AND P.time_paid <= #{paid_end} ]]>
		</if>

	</select>
	
	<select id="getPayPackPage" resultType="cn.yunovo.iov.fc.model.result.PayPackResultBean">

		SELECT gprs_price, gprs_amount,count(is_paid) as pay_count,	SUM(IF(is_paid = 1, 1, 0)) AS paid_count, SUM(IF(is_paid = 0, 1, 0)) AS nopaid_count,
		SUM(IF(is_paid = 1, gprs_price, 0)) AS paid_money, SUM(IF(is_paid = 0, gprs_price, 0)) AS nopaid_money FROM cc_gprs_pay WHERE 1 = 1
		
		<choose>

			<when test="org_id != null">
				AND P.org_id = #{org_id}
			</when>
			<otherwise>
				<choose>
					<when test='orgpos == "*"'>

					</when>
					<otherwise>
						AND P.org_id IN
						<foreach collection="orgs" item="id" index="index" open="(" close=")" separator=",">
							#{id}
						</foreach>
					</otherwise>
				</choose>
			</otherwise>

		</choose>
		
		<if test="date_start != null">
			<![CDATA[  AND time_added >= #{date_start} ]]>
		</if>

		<if test="date_end != null">
			<![CDATA[ AND time_added <= #{date_end} ]]>
		</if>
		
		<choose>

			<when test="pay_method != null">
				AND pay_method = #{pay_method}
			</when>
			<otherwise>
				AND pay_method > 0
			</otherwise>

		</choose>
		
		 GROUP BY gprs_price, gprs_amount
		
	</select>
	
	
	<select id="getPayPackTotal" resultType="cn.yunovo.iov.fc.model.result.PayPackResultBean">

		SELECT gprs_price, gprs_amount,	count(is_paid) as pay_count, SUM(IF(is_paid = 1, 1, 0)) AS paid_count, SUM(IF(is_paid = 0, 1, 0)) AS nopaid_count,
		SUM(IF(is_paid = 1, gprs_price, 0)) AS paid_money, SUM(IF(is_paid = 0, gprs_price, 0)) AS nopaid_money FROM cc_gprs_pay WHERE 1 = 1
		
		<choose>

			<when test="org_id != null">
				AND P.org_id = #{org_id}
			</when>
			<otherwise>
				<choose>
					<when test='orgpos == "*"'>

					</when>
					<otherwise>
						AND P.org_id IN
						<foreach collection="orgs" item="id" index="index" open="(" close=")" separator=",">
							#{id}
						</foreach>
					</otherwise>
				</choose>
			</otherwise>

		</choose>
		
		<if test="date_start != null">
			<![CDATA[  AND time_added >= #{date_start} ]]>
		</if>

		<if test="date_end != null">
			<![CDATA[ AND time_added <= #{date_end} ]]>
		</if>
		
		<choose>

			<when test="pay_method != null">
				AND pay_method = #{pay_method}
			</when>
			<otherwise>
				AND pay_method > 0
			</otherwise>

		</choose>
		
		 GROUP BY gprs_price, gprs_amount
		
	</select>

</mapper>
