<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yunovo.iov.fc.dao.ICcGprsCardMapper">

	<select id="getHaltPage"
		resultType="cn.yunovo.iov.fc.model.entity.CcGprsCard">

		SELECT * FROM cc_gprs_card WHERE unicom_stop = 1

		<choose>

			<when test="org_id != null">
				AND org_id = #{org_id}
			</when>
			<otherwise>
				<choose>
					<when test='orgpos == "*"'>

					</when>
					<otherwise>
						AND org_id IN
						<foreach collection="orgs" item="id" index="index"
							open="(" close=")" separator=",">
							#{id}
						</foreach>
					</otherwise>
				</choose>
			</otherwise>

		</choose>

		<if test="card_type != null">
			AND card_type = #{card_type}
		</if>

		<if test="card_iccid != null">
			<bind name="card_iccid_bind" value="'%'+card_iccid+'%'" />
			AND card_iccid LIKE #{card_iccid_bind}
		</if>
		<choose>

			<when test="time_expire != null">
				<choose>
					<when test='time_expire == 1'>
						<![CDATA[ AND time_expire > NOW() ]]>
					</when>
					<otherwise><![CDATA[ AND time_expire <= NOW() ]]>
					</otherwise>
				</choose>
			</when>

			<otherwise>

			</otherwise>


		</choose>
	</select>
	
	<select id="getHaltPageExport"
		resultType="cn.yunovo.iov.fc.model.export.HaltPageExportBean">

		SELECT org_id,card_iccid,used_total,used_month,max_unused,
			time_stop,time_active,time_added,time_last,time_expire FROM cc_gprs_card WHERE unicom_stop = 1

		<choose>

			<when test="org_id != null">
				AND org_id = #{org_id}
			</when>
			<otherwise>
				<choose>
					<when test='orgpos == "*"'>

					</when>
					<otherwise>
						AND org_id IN
						<foreach collection="orgs" item="id" index="index"
							open="(" close=")" separator=",">
							#{id}
						</foreach>
					</otherwise>
				</choose>
			</otherwise>

		</choose>

		<if test="card_type != null">
			AND card_type = #{card_type}
		</if>

		<if test="card_iccid != null">
			<bind name="card_iccid_bind" value="'%'+card_iccid+'%'" />
			AND card_iccid LIKE #{card_iccid_bind}
		</if>
		<choose>

			<when test="time_expire != null">
				<choose>
					<when test='time_expire == 1'>
						<![CDATA[ AND time_expire > NOW() ]]>
					</when>
					<otherwise><![CDATA[ AND time_expire <= NOW() ]]>
					</otherwise>
				</choose>
			</when>

			<otherwise>

			</otherwise>


		</choose>
	</select>

	<select id="getHaltTotal" resultType="java.util.HashMap">
	<![CDATA[
		SELECT SUM(used_month) AS used_month, SUM(used_total) AS used_total,
		SUM(IF(max_unused < 0, max_unused ,0)) AS max_unused FROM cc_gprs_card WHERE unicom_stop = 1
		
		]]>
		<choose>

			<when test="org_id != null">
				AND org_id = #{org_id}
			</when>
			<otherwise>
				<choose>
					<when test='orgpos == "*"'>

					</when>
					<otherwise>
						AND org_id IN
						<foreach collection="orgs" item="id" index="index"
							open="(" close=")" separator=",">
							#{id}
						</foreach>
					</otherwise>
				</choose>
			</otherwise>
		</choose>
		<if test="card_type != null">
			AND card_type = #{card_type}
		</if>
		<if test="card_iccid != null">
			<bind name="card_iccid_bind" value="'%'+card_iccid+'%'" />
			AND card_iccid LIKE #{card_iccid_bind}
		</if>
		<choose>
			<when test="time_expire != null">
				<choose>
					<when test='time_expire == 1'>
						<![CDATA[ AND time_expire > NOW() ]]>
					</when>
					<otherwise><![CDATA[ AND time_expire <= NOW() ]]>
					</otherwise>
				</choose>
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</select>


	<select id="getItemsPage"
		resultType="cn.yunovo.iov.fc.model.entity.CcGprsCard">

		SELECT * FROM cc_gprs_card WHERE 1 =1

		<choose>

			<when test="org_id != null">
				AND org_id = #{org_id}
			</when>
			<otherwise>
				<choose>
					<when test='orgpos == "*"'>

					</when>
					<otherwise>
						AND org_id IN
						<foreach collection="orgs" item="id" index="index"
							open="(" close=")" separator=",">
							#{id}
						</foreach>
					</otherwise>
				</choose>
			</otherwise>

		</choose>

		<if test="card_type != null">
			AND card_type = #{card_type}
		</if>

		<if test="card_iccid != null">
			<bind name="card_iccid_bind" value="'%'+card_iccid+'%'" />
			AND card_iccid LIKE #{card_iccid_bind}
		</if>

		<if test="max_unused != null and max_unused &gt; 1">
			<![CDATA[ AND max_unused <= -#{max_unused}  AND unicom_stop = 0 ]]>
		</if>

		<if test="unicom_diff != null and unicom_diff &gt; 1">
			<![CDATA[ AND unicom_diff >= #{unicom_diff} ]]>
		</if>
	</select>
	
	<select id="getItemsPageExport"
		resultType="cn.yunovo.iov.fc.model.export.AbnormalExportBean">

		SELECT card_iccid,used_total,unicom_total,max_unused FROM cc_gprs_card WHERE 1 =1

		<choose>

			<when test="org_id != null">
				AND org_id = #{org_id}
			</when>
			<otherwise>
				<choose>
					<when test='orgpos == "*"'>

					</when>
					<otherwise>
						AND org_id IN
						<foreach collection="orgs" item="id" index="index"
							open="(" close=")" separator=",">
							#{id}
						</foreach>
					</otherwise>
				</choose>
			</otherwise>

		</choose>

		<if test="card_type != null">
			AND card_type = #{card_type}
		</if>

		<if test="card_iccid != null">
			<bind name="card_iccid_bind" value="'%'+card_iccid+'%'" />
			AND card_iccid LIKE #{card_iccid_bind}
		</if>

		<if test="max_unused != null and max_unused &gt; 1">
			<![CDATA[ AND max_unused <= -#{max_unused}  AND unicom_stop = 0 ]]>
		</if>

		<if test="unicom_diff != null and unicom_diff &gt; 1">
			<![CDATA[ AND unicom_diff >= #{unicom_diff} ]]>
		</if>
	</select>

	<!-- 获取机构售卡数量与支付情况 -->
	<select id="getSellPayPage"
		resultType="cn.yunovo.iov.fc.model.entity.SellPayResultBean">

		SELECT org_id, card_count, act_count, pay_cards, (pay_cards/act_count)
		* 100 AS pay_rate
		FROM
		(SELECT org_id, COUNT(card_id) AS card_count, SUM(IF(GC.time_active IS
		NULL, 0, 1)) AS act_count,
		(SELECT COUNT(DISTINCT card_id) FROM
		cc_gprs_pay GP WHERE GP.org_id = GC.org_id

		<if test="date_start != null">
			<![CDATA[  AND time_paid >= #{date_start} ]]>
		</if>

		<if test="date_end != null">
			<![CDATA[ AND time_paid <= #{date_end} ]]>
		</if>

		AND is_paid = 1 AND pay_method > 0) AS pay_cards

		FROM cc_gprs_card GC WHERE 1 = 1

		<choose>

			<when test="org_id != null">
				AND org_id = #{org_id}
			</when>
			<otherwise>
				<choose>
					<when test='orgpos == "*"'>

					</when>
					<otherwise>
						AND org_id IN
						<foreach collection="orgs" item="id" index="index"
							open="(" close=")" separator=",">
							#{id}
						</foreach>
					</otherwise>
				</choose>
			</otherwise>

		</choose>

		GROUP BY org_id) AS T
	</select>

	<!-- 流量卡使用统计 -->
	<select id="getCardUsedPage"
		resultType="cn.yunovo.iov.fc.model.result.CardUsedResultBean">

		SELECT org_id, COUNT(card_id) AS card_count, SUM(unicom_stop) AS
		unicom_stop, SUM(IF(time_active IS NULL, 0, 1)) AS activated,
		SUM(IF(time_active IS NULL,1,0)) AS nonactivated, SUM(IF(max_unused >=
		9999999, 0, max_unused)) AS unused_count, SUM(used_total) AS
		used_count,
		SUM(IF(pay_total >= 9999999, 0, pay_total)) AS pay_total
		FROM cc_gprs_card WHERE 1=1

		<choose>

			<when test="org_id != null">
				AND org_id = #{org_id}
			</when>
			<otherwise>
				<choose>
					<when test='orgpos == "*"'>

					</when>
					<otherwise>
						AND org_id IN
						<foreach collection="orgs" item="id" index="index"
							open="(" close=")" separator=",">
							#{id}
						</foreach>
					</otherwise>
				</choose>
			</otherwise>

		</choose>

		<if test="date_start != null">
			<![CDATA[  AND time_added >= #{date_start} ]]>
		</if>

		<if test="date_end != null">
			<![CDATA[ AND time_added <= #{date_end} ]]>
		</if>

		GROUP BY org_id
	</select>


	<!-- 流量卡使用统计 -->
	<select id="getCardUsedTotal"
		resultType="cn.yunovo.iov.fc.model.result.CardUsedResultBean">
		SELECT SUM(card_count) AS card_count,SUM(activated) AS activated,
		SUM(nonactivated) AS nonactivated,
		SUM(unused_count) AS unused_count,SUM(used_count) AS used_count FROM (
		SELECT org_id,
		COUNT(card_id) AS card_count, SUM(unicom_stop) AS unicom_stop,
		SUM(IF(time_active IS NULL, 0, 1)) AS activated,
		SUM(IF(time_active IS
		NULL,1,0)) AS nonactivated, SUM(IF(max_unused >= 9999999, 0,
		max_unused)) AS unused_count, SUM(used_total) AS used_count,
		SUM(IF(pay_total >= 9999999, 0, pay_total)) AS pay_total FROM
		cc_gprs_card WHERE 1=1

		<choose>

			<when test="org_id != null">
				AND org_id = #{org_id}
			</when>
			<otherwise>
				<choose>
					<when test='orgpos == "*"'>

					</when>
					<otherwise>
						AND org_id IN
						<foreach collection="orgs" item="id" index="index"
							open="(" close=")" separator=",">
							#{id}
						</foreach>
					</otherwise>
				</choose>
			</otherwise>

		</choose>

		<if test="date_start != null">
			<![CDATA[  AND time_added >= #{date_start} ]]>
		</if>

		<if test="date_end != null">
			<![CDATA[ AND time_added <= #{date_end} ]]>
		</if>

		GROUP BY org_id

		) t
	</select>

	<!-- 统计分析-联通情况统计 -->
	<select id="getUnicomStatPage"
		resultType="cn.yunovo.iov.fc.model.result.UnicomStatResultBean">

		SELECT org_id,COUNT(card_id) AS card_count, SUM(IF (time_active IS
		NULL,0,1)) AS activated,
		SUM(IF (time_active IS NULL,1,0)) AS
		nonactivated, SUM(unicom_total) AS unicom_count,
		SUM(unicom_month) AS
		month_count FROM cc_gprs_card WHERE 1=1

		<choose>

			<when test="org_id != null">
				AND org_id = #{org_id}
			</when>
			<otherwise>
				<choose>
					<when test='orgpos == "*"'>

					</when>
					<otherwise>
						AND org_id IN
						<foreach collection="orgs" item="id" index="index"
							open="(" close=")" separator=",">
							#{id}
						</foreach>
					</otherwise>
				</choose>
			</otherwise>

		</choose>

		<if test="date_start != null">
			<![CDATA[  AND time_added >= #{date_start} ]]>
		</if>

		<if test="date_end != null">
			<![CDATA[ AND time_added <= #{date_end} ]]>
		</if>

		<if test="jstart != null">
			<![CDATA[  AND time_active >= #{jstart} ]]>
		</if>

		<if test="jend != null">
			<![CDATA[ AND time_active <= #{jend} ]]>
		</if>

		GROUP BY org_id
	</select>
	<!-- 统计分析-联通情况统计导出 -->
	<select id="getUnicomStatPageExport"
		resultType="cn.yunovo.iov.fc.model.result.UnicomStatResultBean">

		SELECT org_id,COUNT(card_id) AS card_count, SUM(IF (time_active IS
		NULL,0,1)) AS activated,
		SUM(IF (time_active IS NULL,1,0)) AS
		nonactivated, SUM(unicom_total) AS unicom_count,
		SUM(unicom_month) AS
		month_count FROM cc_gprs_card WHERE 1=1

		<choose>

			<when test="org_id != null">
				AND org_id = #{org_id}
			</when>
			<otherwise>
				<choose>
					<when test='orgpos == "*"'>

					</when>
					<otherwise>
						AND org_id IN
						<foreach collection="orgs" item="id" index="index"
							open="(" close=")" separator=",">
							#{id}
						</foreach>
					</otherwise>
				</choose>
			</otherwise>

		</choose>

		<if test="date_start != null">
			<![CDATA[  AND time_added >= #{date_start} ]]>
		</if>

		<if test="date_end != null">
			<![CDATA[ AND time_added <= #{date_end} ]]>
		</if>

		<if test="jstart != null">
			<![CDATA[  AND time_active >= #{jstart} ]]>
		</if>

		<if test="jend != null">
			<![CDATA[ AND time_active <= #{jend} ]]>
		</if>

		GROUP BY org_id
	</select>

	<!-- 流量卡使用统计 -->
	<select id="getUnicomStatTotal"
		resultType="cn.yunovo.iov.fc.model.result.UnicomStatResultBean">

		SELECT SUM(card_count) AS card_count, SUM(activated) AS activated,
		SUM(nonactivated) AS nonactivated, SUM(unicom_count) AS unicom_count,
		SUM(month_count) AS month_count FROM (SELECT org_id,COUNT(card_id) AS card_count, SUM(IF (time_active IS	NULL,0,1)) AS activated,		
		SUM(IF (time_active IS NULL,1,0)) AS	nonactivated, SUM(unicom_total) AS unicom_count,	SUM(unicom_month) AS	month_count FROM cc_gprs_card 
		WHERE 1=1

		<choose>

			<when test="org_id != null">
				AND org_id = #{org_id}
			</when>
			<otherwise>
				<choose>
					<when test='orgpos == "*"'>

					</when>
					<otherwise>
						AND org_id IN
						<foreach collection="orgs" item="id" index="index"
							open="(" close=")" separator=",">
							#{id}
						</foreach>
					</otherwise>
				</choose>
			</otherwise>

		</choose>

		<if test="date_start != null">
			<![CDATA[  AND time_added >= #{date_start} ]]>
		</if>

		<if test="date_end != null">
			<![CDATA[ AND time_added <= #{date_end} ]]>
		</if>

		<if test="jstart != null">
			<![CDATA[  AND time_active >= #{jstart} ]]>
		</if>

		<if test="jend != null">
			<![CDATA[ AND time_active <= #{jend} ]]>
		</if>

		GROUP BY org_id

		) t
	</select>


	<select id="getPayDetailPage"
		resultType="cn.yunovo.iov.fc.model.result.PayDetailResultBean">
	
		<![CDATA[
			SELECT P.card_id, C.card_sn, C.card_iccid, COUNT(P.pay_id) AS pay_count, SUM(IF(P.gprs_amount < 9999999, gprs_amount, 0.1)) AS gprs_amount,
			SUM(P.gprs_price) money_count, SUM(P.rebate_money) AS money_rebate
			FROM cc_gprs_pay P LEFT JOIN cc_gprs_card C ON C.card_id = P.card_id WHERE P.is_paid = 1 AND P.pay_method > 0
		]]>

		<choose>

			<when test="org_id != null">
				AND P.org_id = #{org_id}
			</when>
			<otherwise>
				<choose>
					<when test='orgpos == "*"'>

					</when>
					<otherwise>
						AND P.org_id IN
						<foreach collection="orgs" item="id" index="index"
							open="(" close=")" separator=",">
							#{id}
						</foreach>
					</otherwise>
				</choose>
			</otherwise>

		</choose>

		<if test="date_start != null">
			<![CDATA[ AND P.time_paid >=  #{date_start} ]]>
		</if>

		<if test="date_end != null">
			<![CDATA[ AND P.time_paid <= #{date_end} ]]>
		</if>

		GROUP BY P.card_id

	</select>

	<select id="queryCardListPage"
		resultType="cn.yunovo.iov.fc.model.entity.CcGprsCard">

		SELECT
			card_id,org_id,batch_id,card_sn,card_iccid,card_imsi,card_imei,card_type,card_openid,owner_bind,
			owner_real,owner_wszl,used_total,used_month,pay_total,max_unused,reset_diff,unicom_total,unicom_month,
			unicom_unused,unicom_diff,unicom_stop,unicom_ctime,time_active,time_added,time_last,time_paid,
			time_stop,time_expire		
		FROM
		cc_gprs_card
		WHERE 1=1
		
		<choose>

			<when test="org_id != null">
				AND org_id = #{org_id}
			</when>
			<otherwise>
				<choose>
					<when test='orgpos == "*"'>

					</when>
					<otherwise>
						AND org_id IN
						<foreach collection="orgs" item="id" index="index"
							open="(" close=")" separator=",">
							#{id}
						</foreach>
					</otherwise>
				</choose>
			</otherwise>

		</choose>
		
		<if test="card_iccid != null">
			<bind name="card_iccid_bind" value="'%'+card_iccid+'%'" />
			AND card_iccid LIKE #{card_iccid_bind}
		</if>
		
		<if test="card_type != null">
			AND card_type = #{card_type}
		</if>

		<if test="date_start != null">
			<![CDATA[  AND time_active >= #{date_start} ]]>
		</if>

		<if test="date_end != null">
			<![CDATA[ AND time_active <= #{date_end} ]]>
		</if>
		
		<choose>
			<when test="time_expire != null">
				<choose>
					<when test='time_expire == 1'>
						<![CDATA[ AND time_expire > NOW() ]]>
					</when>
					<otherwise><![CDATA[ AND time_expire <= NOW() ]]>
					</otherwise>
				</choose>
			</when>
			<otherwise>
			</otherwise>
		</choose>
		
		<if test="unicom_stop != null">
			 AND unicom_stop = #{unicom_stop}
		</if>
		
		<if test="status == 0">
			 AND time_active IS NULL
		</if>
		
		<if test="status == 1">
			 AND time_active IS NOT NULL
		</if>
	</select>
	
	<select id="queryCardListPageExport"
		resultType="cn.yunovo.iov.fc.model.export.CcGprsCardExportBean">

		SELECT
			org_id,batch_id,card_iccid,card_type,used_total,used_month,max_unused,
			unicom_ctime,time_active,time_added,time_last,time_expire
		FROM
		cc_gprs_card
		WHERE 1=1
		
		<choose>

			<when test="org_id != null">
				AND org_id = #{org_id}
			</when>
			<otherwise>
				<choose>
					<when test='orgpos == "*"'>

					</when>
					<otherwise>
						AND org_id IN
						<foreach collection="orgs" item="id" index="index"
							open="(" close=")" separator=",">
							#{id}
						</foreach>
					</otherwise>
				</choose>
			</otherwise>

		</choose>
		
		<if test="card_iccid != null">
			<bind name="card_iccid_bind" value="'%'+card_iccid+'%'" />
			AND card_iccid LIKE #{card_iccid_bind}
		</if>
		
		<if test="card_type != null">
			AND card_type = #{card_type}
		</if>

		<if test="date_start != null">
			<![CDATA[  AND time_active >= #{date_start} ]]>
		</if>

		<if test="date_end != null">
			<![CDATA[ AND time_active <= #{date_end} ]]>
		</if>
		
		<choose>
			<when test="time_expire != null">
				<choose>
					<when test='time_expire == 1'>
						<![CDATA[ AND time_expire > NOW() ]]>
					</when>
					<otherwise><![CDATA[ AND time_expire <= NOW() ]]>
					</otherwise>
				</choose>
			</when>
			<otherwise>
			</otherwise>
		</choose>
		
		<if test="unicom_stop != null">
			 AND unicom_stop = #{unicom_stop}
		</if>
		
		<if test="status == 0">
			 AND time_active IS NULL
		</if>
		
		<if test="status == 1">
			 AND time_active IS NOT NULL
		</if>
		
		
	</select>
	
	<select id="cardTotalByOrgidGroup" resultType="cn.yunovo.iov.fc.model.result.CardTotalByOrgidInfoBean">
		
		SELECT COUNT(*) AS total, org_id FROM cc_gprs_card 
		WHERE 1 = 1
		
		<choose>
			<when test='orgpos == "*"'>

			</when>
			<otherwise>
				AND org_id IN
				<foreach collection="orgs" item="id" index="index"
					open="(" close=")" separator=",">
					#{id}
				</foreach>
			</otherwise>
		</choose>

		
		 GROUP BY org_id
	</select>
	
	<!-- 获取机构下的流量卡统计 -->
	<select id="getCardCase" resultType="java.util.HashMap">
	
		SELECT COUNT(*) AS total, SUM(IF(time_active IS NOT NULL, 1, 0)) AS actived,
		SUM(IF(unicom_stop = 1, 1, 0)) AS stoped, SUM(IF(time_paid IS NOT NULL, 1, 0)) AS paid
		FROM cc_gprs_card WHERE 1 =1 
		
		<choose>
			<when test='orgpos == "*"'>

			</when>
			<otherwise>
				AND org_id IN
				<foreach collection="orgs" item="id" index="index"
					open="(" close=")" separator=",">
					#{id}
				</foreach>
			</otherwise>
		</choose>
	
	</select>
	
	<select id="getUnicomTotal" resultType="Integer">
	
		SELECT COUNT(GC.card_id) FROM cc_gprs_card GC WHERE GC.time_active IS NOT NULL AND GC.time_last IS NULL 
		<choose>
			<when test='orgpos == "*"'>

			</when>
			<otherwise>
				AND org_id IN
				<foreach collection="orgs" item="id" index="index"
					open="(" close=")" separator=",">
					#{id}
				</foreach>
			</otherwise>
		</choose>
	</select>
	
	<select id="getByIccid" resultType="cn.yunovo.iov.fc.model.entity.CcGprsCard">
	
		SELECT * FROM cc_gprs_card WHERE card_iccid = #{card_iccid}
	
	</select>
	
	<select id="getByLikeIccid" resultType="cn.yunovo.iov.fc.model.entity.CcGprsCard">
	
		<bind name="card_iccid_bind" value="card_iccid+'%'" />
		SELECT card_id,org_id,batch_id,card_sn,card_iccid,card_imsi,card_imei,card_type,
			card_openid,owner_bind,owner_real,owner_wszl,used_total,used_month,pay_total,
			max_unused,reset_diff,unicom_total,unicom_month,unicom_unused,unicom_diff,unicom_stop,
			unicom_ctime,time_active,time_added,time_last,time_paid,time_stop,time_expire
	   FROM cc_gprs_card WHERE card_iccid like #{card_iccid_bind}
	
	</select>

	<select id="getByCardSn" resultType="cn.yunovo.iov.fc.model.entity.CcGprsCard">
	
		SELECT card_id,org_id,batch_id,card_sn,card_iccid,card_imsi,card_imei,card_type,
			card_openid,owner_bind,owner_real,owner_wszl,used_total,used_month,pay_total,
			max_unused,reset_diff,unicom_total,unicom_month,unicom_unused,unicom_diff,unicom_stop,
			unicom_ctime,time_active,time_added,time_last,time_paid,time_stop,time_expire
		FROM
			cc_gprs_card
		where card_sn = #{card_sn}
	</select>
	
	<select id="getGprsCardByIccid" resultType="cn.yunovo.iov.fc.model.entity.CcGprsCard">
	
		SELECT card_id, org_id,card_iccid, time_active FROM cc_gprs_card WHERE card_iccid = #{card_iccid}
	</select>
	
	<!-- //导出激活明细 -->
	<select id="exportActiveIccidDetails" resultType="cn.yunovo.iov.fc.model.export.ActiveIccidDetailExportBean">
	
		SELECT
			C.card_sn,C.card_iccid,C.unicom_stop,C.unicom_total,
			C.unicom_unused,C.time_last,C.unicom_ctime,C.time_active,C.time_added,C.time_expire,
			(SELECT GB.batch_sn FROM cc_gprs_batch GB WHERE GB.batch_id = C.batch_id) AS batch_sn
		FROM cc_gprs_card AS C
		WHERE 1 = 1

		<choose>

			<when test="org_id != null">
				AND C.org_id = #{org_id}
			</when>
			<otherwise>
				<choose>
					<when test='orgpos == "*"'>

					</when>
					<otherwise>
						AND C.org_id IN
						<foreach collection="orgs" item="id" index="index"
							open="(" close=")" separator=",">
							#{id}
						</foreach>
					</otherwise>
				</choose>
			</otherwise>
		</choose>
		
		<if test="date_start != null">
			<![CDATA[  AND C.time_added >= #{date_start} ]]>
		</if>

		<if test="date_end != null">
			<![CDATA[ AND C.time_added <= #{date_end} ]]>
		</if>

		<if test="jstart != null">
			<![CDATA[  AND C.time_active >= #{jstart} ]]>
		</if>

		<if test="jend != null">
			<![CDATA[ AND C.time_active <= #{jend} ]]>
		</if>

		 AND C.time_active != ''
		
	</select>
	
	<!-- //导出未激活明细 -->
	<select id="exportUnActiveIccidDetails" resultType="cn.yunovo.iov.fc.model.export.UnActiveIccidDetailExportBean">
	
		SELECT
			C.card_sn,C.card_iccid,C.time_added,
			(SELECT GB.batch_sn FROM cc_gprs_batch GB WHERE GB.batch_id = C.batch_id) AS batch_sn
		FROM cc_gprs_card AS C
		WHERE 1 = 1

		<choose>

			<when test="org_id != null">
				AND C.org_id = #{org_id}
			</when>
			<otherwise>
				<choose>
					<when test='orgpos == "*"'>

					</when>
					<otherwise>
						AND C.org_id IN
						<foreach collection="orgs" item="id" index="index"
							open="(" close=")" separator=",">
							#{id}
						</foreach>
					</otherwise>
				</choose>
			</otherwise>
		</choose>
		
		<if test="date_start != null">
			<![CDATA[  AND C.time_added >= #{date_start} ]]>
		</if>

		<if test="date_end != null">
			<![CDATA[ AND C.time_added <= #{date_end} ]]>
		</if>

		<if test="jstart != null">
			<![CDATA[  AND C.time_active >= #{jstart} ]]>
		</if>

		<if test="jend != null">
			<![CDATA[ AND C.time_active <= #{jend} ]]>
		</if>

		AND time_active IS NULL
		
	</select>
	
	<update id="updateInfoById" parameterType="cn.yunovo.iov.fc.model.entity.CcGprsCard">
		UPDATE `gprs`.`cc_gprs_card` SET
			org_id=#{card.org_id},
			batch_id=#{card.batch_id},
			card_sn=#{card.card_sn},
			card_iccid=#{card.card_iccid},
			card_imsi=#{card.card_imsi},
			card_imei=#{card.card_imei},
			card_type=#{card.card_type},
			card_openid=#{card.card_openid},
			owner_bind=#{card.owner_bind},
			owner_real=#{card.owner_real},
			owner_wszl=#{card.owner_wszl},
			used_total=#{card.used_total},
			used_month=#{card.used_month},
			pay_total=#{card.pay_total},
			max_unused=#{card.max_unused},
			reset_diff=#{card.reset_diff},
			unicom_total=#{card.unicom_total},
			unicom_month=#{card.unicom_month},
			unicom_unused=#{card.unicom_unused},
			unicom_diff=#{card.unicom_diff},
			unicom_stop=#{card.unicom_stop},
			unicom_ctime=#{card.unicom_ctime},
			time_active=#{card.time_active},
			time_added=#{card.time_added},
			time_last=#{card.time_last},
			time_paid=#{card.time_paid},
			time_stop=#{card.time_stop},
			time_expire=#{card.time_expire}
		WHERE `card_id` = #{card.card_id}
		
		
	</update>

</mapper>
