<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yunovo.iov.fc.dao.ICcNotifyMapper">


	<select id="getItemsPage" resultType="cn.yunovo.iov.fc.model.entity.CcNotify">
		
		SELECT ntf_date, ntf_type, SUM(ntf_succeed) AS ntf_succeed, SUM(ntf_failed) AS ntf_failed,
		SUM(ntf_duration) AS ntf_duration, SUM(ord_succeed) AS ord_succeed, SUM(ord_failed) AS ord_failed,
		SUM(ord_srate) AS ord_srate, SUM(ord_frate) AS ord_frate, SUM(money_succeed) AS money_succeed,
		SUM(money_failed) AS money_failed	FROM cc_notify WHERE 1 = 1
		
		<if test="date_start != null">
			<![CDATA[  AND ntf_date >= #{date_start} ]]>
		</if>

		<if test="date_end != null">
			<![CDATA[ AND ntf_date <= #{date_end} ]]>
		</if>

		<if test="ntf_type != null and ntf_type != ''">
			<![CDATA[ AND ntf_type = #{ntf_type} ]]>
		</if>
	
	
		GROUP BY ntf_date,ntf_type
	</select>
	
	
</mapper>
