<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yunovo.iov.fc.dao.ICcOnoffLogMapper">

	<select id="getItemsPage" resultType="cn.yunovo.iov.fc.model.entity.CcOnoffLog">
	<![CDATA[
		SELECT
			SL.card_id,
			C.card_iccid,
			C.card_type,
			C.org_id,
			COUNT(SL.card_id) AS stop_num,
			(
				SELECT	COUNT(pay_id)
				FROM cc_gprs_pay
				WHERE	card_id = SL.card_id
				AND is_paid = 1
				AND pay_method > 0
			) AS pay_count,
			SL.balance_value AS stop_value,
			C.time_paid,
			C.time_stop,
			C.time_last
		FROM
			(
				SELECT	*
				FROM cc_onoff_log
				WHERE onoff_type = 1
				ORDER BY onoff_id DESC
			) SL
		INNER JOIN `cc_gprs_card` C ON C.card_id = SL.card_id
		
		 WHERE 1 =1 
		]]>
		
		<if test="card_id != null">
			 AND SL.card_id = #{card_id}
		</if>
		
		<choose>

			<when test="org_id != null">
				AND C.org_id = #{org_id}
			</when>
			<otherwise>
				<choose>
					<when test='orgpos == "*"'>

					</when>
					<otherwise>
						AND C.org_id IN
						<foreach collection="orgs" item="id" index="index"
							open="(" close=")" separator=",">
							#{id}
						</foreach>
					</otherwise>
				</choose>
			</otherwise>

		</choose>

		<if test="card_type != null">
			AND C.card_type = #{card_type}
		</if>

		<if test="card_iccid != null">
			<bind name="card_iccid_bind" value="'%'+card_iccid+'%'" />
			AND C.card_iccid LIKE #{card_iccid_bind}
		</if>
		
		GROUP BY	SL.card_id 
	
	</select>

	<!-- 首页停卡数据 -->
	<select id="getStopData" resultType="java.util.HashMap">
	
		SELECT COUNT(C.card_id) AS stop_month, SUM(IF(DATE(C.time_added) = DATE(NOW()), 1, 0)) AS stop_today FROM cc_onoff_log O INNER JOIN cc_gprs_card C ON C.card_id = O.card_id
		WHERE 1 = 1
		
		<choose>
			<when test='orgpos == "*"'>

			</when>
			<otherwise>
				AND C.org_id IN
				<foreach collection="orgs" item="id" index="index"
					open="(" close=")" separator=",">
					#{id}
				</foreach>
			</otherwise>
		</choose>
		
		<![CDATA[ 	
			AND O.time_added >= #{date_start} AND O.time_added <= NOW() AND O.onoff_type = 1 AND O.exec_status = 1
		]]>
	</select>

</mapper>
