<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yunovo.iov.fc.dao.ICcOrgMapper">

	<select id="getTree" resultType="cn.yunovo.iov.fc.model.entity.CcOrg" useCache="false">
		SELECT o.*,(SELECT COUNT(*) FROM cc_user U WHERE U.org_id = o.org_id) AS user_count FROM cc_org o where o.PARENT_ID=#{parent_id,jdbcType=INTEGER} ORDER BY o.org_id
	</select>
	
	<select id="getNameAndByOrgid" resultType="cn.yunovo.iov.fc.model.entity.CcOrg">
		SELECT name,parent_id FROM cc_org  where org_id = #{org_id}
	</select>
	
	<select id="getOrgidAndParentIdByParentid" resultType="cn.yunovo.iov.fc.model.entity.CcOrg">
		SELECT org_id, parent_id FROM  cc_org  WHERE parent_id = #{parent_id}
	</select>
	
	<select id="getListPage" resultType="cn.yunovo.iov.fc.model.entity.CcOrg">
		
		SELECT * FROM cc_org WHERE 1 = 1 
		
		<choose>

			<when test="org_id != null">
				AND org_id = #{org_id}
			</when>
			<otherwise>
				<choose>
					<when test='orgpos == "*"'>

					</when>
					<otherwise>
						AND org_id IN
						<foreach collection="orgs" item="id" index="index"
							open="(" close=")" separator=",">
							#{id}
						</foreach>
					</otherwise>
				</choose>
			</otherwise>

		</choose>
		
		<if test="name != null">
			<bind name="org_name_bind" value="'%'name'%'" />
			AND name = #{org_name_bind}
		</if>
		
	</select>

</mapper>
