<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yunovo.iov.fc.dao.ICcSettingMapper">

	<select id="queryList" resultType="cn.yunovo.iov.fc.model.entity.CcSetting">
		SELECT setting_id,store_id,`group`,`key`,`value`,serialized FROM cc_setting WHERE  1 = 1
		
		<if test="group != null">
			AND `group` = #{group}
		</if>
		
		<if test="key != null">
			AND `key` = #{key}
		</if>
		
		
	</select>


	<update id="update">
	
		update cc_setting 
		set `value` = #{value}
		where 
		`group` = #{group}
		AND 
		`key` = #{key}
	</update>
	
	<insert id="insert">
		insert into cc_setting (`group`,`key`,`value`) values (#{group}, #{key}, #{value})
	</insert>
	
	<delete id="deleteByGroup">
		DELETE FROM cc_setting WHERE `group` = #{group}
	</delete>

</mapper>
