<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yunovo.iov.fc.dao.ICcCardLogMapper">

	<select id="getLogsPage" resultType="cn.yunovo.iov.fc.model.entity.CcCardLog">
		
		SELECT log_id,card_id,log_type,log_text,log_url,time_added
		FROM
			cc_card_log
		WHERE
			card_id = #{card_id}
		
	</select>

</mapper>
