<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yunovo.iov.fc.dao.ICcGprsAllotMapper">

	<select id="getUnAllotGprsPack" resultType="cn.yunovo.iov.fc.model.entity.CcGprsAllot">
	
		SELECT GA.*, GC.card_type 
		FROM cc_gprs_allot GA INNER JOIN cc_gprs_card GC ON GC.card_id = GA.card_id 
		WHERE 1 = 1 

		
		<choose>
			<when test='card_id != null'>
				AND GA.card_id = #{card_id}  
			</when>
			<otherwise>
				GC.org_id != 19 AND GC.card_type = #{month_end_type}
			</otherwise>
		</choose>
		
		AND GA.time_expire > NOW() ORDER BY GA.allot_id ASC
		
	</select>
	
	<update id="addAssignedMonthById" >
	
		UPDATE cc_gprs_allot SET assigned_month = assigned_month + 1 WHERE allot_id = #{allot_id}
	</update>
	
	<update id="updateTimeExpireByCardidAndTimeexpire">
	
		UPDATE cc_gprs_allot SET time_expire = NOW() WHERE card_id = #{card_id} AND time_expire > NOW()
	</update>
	
	<select id="getAllotIdByCardidAndValueAndTimeexpire" resultType="int">
		SELECT allot_id FROM cc_gprs_allot WHERE card_id = #{card_id} AND allot_value = #{allot_value} AND time_expire > NOW()  ORDER BY time_expire DESC limit 1
	</select>
	
	<update id="updateTimeExpireById">
	
		UPDATE cc_gprs_allot SET time_expire = DATE_ADD(IF(time_expire > NOW(), time_expire, NOW()), INTERVAL #{live_month} MONTH) WHERE allot_id = #{allot_id}
	</update>
	
	<update id="UpdateGprsAmountAndAllotMonthAndTimeExById">
	
		UPDATE cc_gprs_allot SET gprs_amount = gprs_amount + #{gprs_amount}, allot_month = allot_month + #{allot_month},
					time_expire = DATE_ADD(IF(time_expire > NOW(), time_expire, NOW()), #{live_month} MONTH) WHERE allot_id = #{allot_id}
	</update>
	
	<select id="getAllotByCardIdAndGprsAmountAndTimeExpire" resultType="java.lang.Integer">
	
		SELECT allot_id FROM cc_gprs_allot WHERE card_id = #{card_id} AND gprs_amount = #{gprs_amount} AND LEFT(time_expire, 10) = #{time_expire} ORDER BY allot_id DESC LIMIT 1
	</select>

</mapper>
