<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yunovo.iov.fc.dao.ICcStatsDayMapper">

	<select id="getDayUsePage" resultType="cn.yunovo.iov.fc.model.entity.CcStatsDay">
	
		SELECT stats_date,card_id,day_used,day_over,day_wlist,ayer_unused,today_unused,time_modify
		FROM
			cc_stats_day
		WHERE
			card_id = #{card_id}
		
	
	</select>

</mapper>
